h1 {
  color: rebeccapurple;
}

.container {
	display: flex;
	min-height: 110vh;
	width: 46%;
	margin: auto;
	background-color: black;
	border: 1px solid black;
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	border-right: 1em solid black;
}

.l1 {
	flex: 1.56;
	background-color: #eeeeee;
	display: flex;
	flex-direction: column;
}

.l1-1 {
	flex: 1;
	background-color: black;
}

.l1-2 {
	flex: 6;
	background-color: #ececec;
}

.l2 {
	flex: 1;
	display: grid;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	grid-template-rows: 30px 1fr;
	grid-template-columns: 20% 1fr;
	grid-template-areas: "l2-1 l2-3" "l2-2 l2-3";
	border-top: 1em solid black;
}

.l2-1 {
	background-color: black;
	grid-area: l2-1;
}

.l2-2 {
	background-color: #fdf974;
	grid-area: l2-2;
}

.l2-3 {
	background-color: #d0d3da;
	grid-area: l2-3;
}

.right {
	flex: 3;
	display: flex;
	flex-direction: column;
}

.r1 {
	background-color: #dd0b19;
	flex: 2;
	margin-bottom: 1em;
}

.r2 {	
	flex: 2;
	display: grid;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	grid-template-rows: 50% 50%;
	grid-template-columns: 1fr 20px;
	grid-template-areas: "r2-1 r2-3" "r2-2 r2-3";
}

.r2-1 {
	background-color: #cfd4da;
	grid-area: r2-1;
}

.r2-2 {
	background-color: #cfd4da;
	grid-area: r2-2;
}

.r2-3 {
	background-color: #eff4f0;
	grid-area: r2-3;
}

.r3 {
	background-color: #d1c5c5;
	flex: 1;
	border-top: 1em solid black;
}