/*Make art 600px x 600px */

body {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-rows: 250px 150px 200px;
  grid-template-columns: 280px 180px 140px;
  grid-template-areas: "a a a"
                       "b b b"
                       "c d e";
}

/* TOP SECTION */
.a {
  grid-area: a;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: black;
}

.top-red {
  width: 280px;
  height: 235px;
  background-color: #CC1C0F;
}

.top-gray {
  width: 310px;
  height: 235px;
  background-color: #DFE3DC;
}

/* MIDDLE SECTION */

.b {
  grid-area: b;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: black;
}

.middle-gray {
  width: 280px;
  height: 135px;
  background-color: #DFE3DC;
}

.middle-gray2 {
  width: 310px;
  height: 135px;
  background-color: #DFE3DC;
}

/* BOTTOM LEFT SECTION */

.c {
  grid-area: c;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: black;
}

.bottomleft-yellow {
  width: 75px;
  height: 200px;
  background-color: #D6AE23;
}

.bottomleft-gray {
  width: 195px;
  height: 200px;
  background-color: lightgray;
}

/* BOTTOM RIGHT SECTION */
.d {
  grid-area: d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.right-blue {
  width: 160px;
  height: 165px;
  background-color: #00094F;
}

.right-gray {
  width: 160px;
  height: 20px;
  background-color: lightgray;
}

/* RIGHT SECTION */
.e {
  grid-area: e;
  background-color: black;
}

.e-gray {
  width: 140px;
  height: 200px;
  background-color: lightgray;
}
