/*Make art 600px x 600px */

body {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.grid-container {
	display: grid;
	grid-template-rows: 75px 400px 125px;
	grid-template-columns: 50px 425px 125px;
	grid-template-areas: "top top right"
											 "left middle right"
											 "bottom bottom right";
}

/* TOP SECTION */
.top {
	grid-area: top;
	display:flex;
	justify-content: space-between;
	background-color: black;
}

.top-gray {
	width: 230px;
	height: 60px;
	background-color: #CFCECA;
}

.top-yellow {
	width: 230px;
	height: 60px;
	background-color: #E5E597;
}

/* LEFT SECTION */
.left {
	grid-area: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	background-color: black;
}

.left-gray {
	width: 35px;
	height: 190px;
	background-color: #CFCECA;
}

.left-blue {
	width: 35px;
	height: 190px;
	background-color: #113F99;
}

/* MIDDLE SECTION */

.middle {
	grid-area: middle;
	background-color: #CFCECA;
}

/* RIGHT SECTION */
.right {
	grid-area: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	background-color: black;
}

.right-black {
	width: 110px;
	height: 140px;
	background-color: #222;
}

.right-gray {
	width: 110px;
	height: 395px;
	background-color: #CFCECA;
}

.right-red {
	width: 110px;
	height: 25px;
	background-color: red;
}

/* BOTTOM SECTION */
.bottom {
	grid-area: bottom;
	display: flex;
	align-items: flex-end;
	background-color: black;
}

.bottom-gray {
	width: 475px;
	height: 110px;
	background-color: #CFCECA;
}

